---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hey, I'm Si. Nice to meet you!</h1>
			<p>It's been a while since I invested time into my own website. After a day of planning, problem solving and writing code, I enjoy switching off and spending time on other things - sim racing, music or being beaten at Ludo by my 6y/o son.</p>
			<p>And yet, I am compelled to cultivate my own little corner of the internet - it feels nostalgic.</p>
			<p>Now I'm a bit older, a bit more experienced, and with plenty of battle scars to show for it. I do also have ADHD, so this burst of enthusiasm to reclaim a garden for myself may be fleeting. I hope not, only time will tell.</p>
			<p>In the meantime feel free to peruse the currently limited ramblings of <a href="/blog">the blog</a>. If you enjoy what you read, maybe check back soon to see who won... my brain or my good intentions. Thanks for being here.</p>
		</main>
		<Footer />
	</body>
</html>
